In [1]:
import pandas as pd

In [36]:
data=pd.read_csv('terror.csv',sep=',',header=0,encoding="latin")

C:\Users\NikSid\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,61,62,66,116,117,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [38]:
data.shape

(156772, 137)

In [39]:
data.columns.tolist()

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'ingroup',
 'ingroup2',
 'ingroup3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [ ]:
#Q1 : How many attacks happened in India ?

In [40]:
#Answer 1:
data[data['country_txt']=='India'].shape[0]

9940

In [ ]:
#Q2: How many attacks happened in India and upto 3 people were killed?

In [41]:
#Answer 2:
data[(data['country_txt']=='India') & (data['nkill']<=3)].shape[0]

8362

In [ ]:
#Q3 : Extract the city and summary for attacks above

In [42]:
#Answer 3:
data[(data['country_txt']=='India') & (data['nkill']<=3)][['city','summary']].head(10)

           city summary
1185  New Delhi     NaN
3780  New Delhi     NaN
5251     Bombay     NaN
7266     Imphal     NaN
8609    Unknown     NaN
8755    Unknown     NaN
8977     Amapur     NaN
9037   Raisikah     NaN
9040   Champhai     NaN
9070     Aizawl     NaN

In [ ]:
#Q4 : In a single terror incident in India,find out top 5 cities by number killed.

In [43]:
#Answer 4:
data.query("country_txt=='India'").sort_values('nkill',ascending=False)['city'].head(5)

81000                Mumbai
96598               Jhargam
54339                Bombay
95860    Dantewada district
56837              Banabari
Name: city, dtype: object

In [ ]:
#Q5 : In a single terror incident in India,find out top 5 cities by number killed and wounded.

In [44]:
#Answer 5:
data.query("country_txt=='India'").sort_values(['nkill','nwound'],ascending=[False,False])['city'].head(5)

81000                Mumbai
96598               Jhargam
54339                Bombay
95860    Dantewada district
56837              Banabari
Name: city, dtype: object

In [ ]:
#Q6 : How many attacks were successful that were suicide attacks ?

In [45]:
#Answer 6:
data[(data['suicide']==1) & (data['success']==1)].shape[0]

4260

In [ ]:
#Q7: Label all the incidents where the number killed was more than 5 as severe

In [47]:
#Answer 7: First way
def get_label(x):
    if x>5:
        return 'Severe'
    else:
        return 'Not Severe'
    
data['nkill'].map(get_label)

0         Not Severe
1         Not Severe
2         Not Severe
3         Not Severe
4         Not Severe
             ...
156767    Not Severe
156768    Not Severe
156769    Not Severe
156770    Not Severe
156771    Not Severe
Name: nkill, Length: 156772, dtype: object

In [50]:
# Second way
data['nkill'].map(lambda x:'Severe' if x > 5 else 'Not Severe')

0         Not Severe
1         Not Severe
2         Not Severe
3         Not Severe
4         Not Severe
             ...
156767    Not Severe
156768    Not Severe
156769    Not Severe
156770    Not Severe
156771    Not Severe
Name: nkill, Length: 156772, dtype: object

In [ ]:
#Q8: Write a function to label an incident that was both successful and suicidal

In [54]:
#Answer 8: First way
def get_label(x):
    if x['success']==1 and x['suicide']==1:
        return 1
    else:
        return 0
    
data.apply(get_label,axis=1)

0         0
1         0
2         0
3         0
4         0
         ..
156767    0
156768    0
156769    0
156770    0
156771    0
Length: 156772, dtype: int64

In [55]:
#Second way
data.apply(lambda x: 1 if x['success']==1 and x['suicide']==1 else 0,axis=1)

0         0
1         0
2         0
3         0
4         0
         ..
156767    0
156768    0
156769    0
156770    0
156771    0
Length: 156772, dtype: int64

In [ ]:
#Q9: Create a new category representing if the incident occured in Afghanistan,Pakistan or India as 
#one level of the category and all the other countries as another level. 
#Label all other countries as ROW and new column which contains the new category as ‘Local’ in the data
# create a new column called “Local” in the dataset.

In [71]:
#Answer 9 : First way
def get_label(x):
    if x['country_txt']=='Afghanistan' or x['country_txt']=='India' or x['country_txt']=='Pakistan':
        return 'Af-Pak-India'
    else:
        return 'ROW'

data['Local']=data.apply(get_label,axis=1)
data['Local'].unique().tolist()

['ROW', 'Af-Pak-India']

In [73]:
# Second way
data.apply(lambda x: 'Af-Pak-India' if x['country_txt']=='Afghanistan' or x['country_txt']=='India' or x['country_txt']=='Pakistan' else 'ROW',axis=1).tail(10)

156762             ROW
156763             ROW
156764    Af-Pak-India
156765    Af-Pak-India
156766    Af-Pak-India
156767             ROW
156768             ROW
156769             ROW
156770             ROW
156771             ROW
dtype: object

In [ ]:
#Q10: How many incidents happened in Af-Pak-India vs ROW?

In [64]:
#Answer 10 : First way
data['Local'].value_counts()

ROW             124374
Af-Pak-India     32398
Name: Local, dtype: int64

In [65]:
#Answer 11 : Second way
data.groupby('Local').size()

Local
Af-Pak-India     32398
ROW             124374
dtype: int64

In [ ]:
#Q11:List the number of suicides attacks and average kills by Afg-Pak-India vs ROW.
#Rename columns in the output as Average_Kills for average kills and Number_Incidents for count of suicide attacks

In [66]:
import numpy as np

In [70]:
#Answer 11:
data.groupby(['Local','suicide'])['nkill'].agg([np.size,np.mean]).reset_index().rename(columns={'size':'Number_Incidents','mean':'Average_Kills'})

          Local  suicide  Number_Incidents  Average_Kills
0  Af-Pak-India        0           30936.0       1.816514
1  Af-Pak-India        1            1462.0       8.127404
2           ROW        0          121065.0       2.167010
3           ROW        1            3309.0      11.511403